/*-------- Designing the HTML and Body --------*/
#record-body{
  background: linear-gradient(-45deg, #791643, #610b2c, #3c0e3c, #000000);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  width: 100vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-table {
  width: 100%;
  text-align: center;
  overflow: auto;
}

/* -------- Designing the table --------*/
.table1{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    text-align: center;
}

tr{
    border-collapse: collapse;
}
