/* ---------Designing the HTML and Body ----------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  /* ---------Designing the Container and Cards ----------*/

  #student-landing-body{
    background: linear-gradient(-45deg, #791643, #610b2c, #3c0e3c, #000000);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    width: 100vw;
  }

  .heading {
    text-align: center;
    /* font-size: 30px; */
    margin-bottom: 50px;
  }
  
  .box-row {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 18%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    background: linear-gradient(to right, #fefefe, #fff);
    color: #fff;
    
  }
  
  .card-body {
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .btn-landing {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #ff416c, #bb059a);
    /* margin-top: 30px; */
    margin: auto;
    text-decoration: none;
    padding: 10px 5px;
  }

  #btn-delete{
    width: 100%;
    border: 0px;
  }
  #btn-delete:hover{
    color: #3770e3;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  .gif {
    width: 200px;
    height: 140px;
    max-height:100%;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
    #welcome {
      font-size: 1.2em;
    }
  }
  
  @media screen and (max-width: 800px) {
    .container-landing {
      width: 100%;
    }
  
    .card {
      width: 80%;
    }
    #welcome {
      font-size: 1em;
    }
  }
  
  
  /* text animaiton */
  h1
  {
      position: relative;
      font-size: 2em;
      letter-spacing: 15px;
      color: #0e3742;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
      line-height: 0.70em;
      outline: none;
      animation: animate 5s linear infinite;
      font-family: 'Poppins', sans-serif;
  }
  @keyframes animate
  {
      0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
      {
          color:#d9eff5;
          text-shadow: none;
      }
      18.1%,20.1%,50%,60%,65.1%,80%,90%,92.1%,100%
      {
          color:rgb(255, 255, 255);
          text-shadow: 0 0 10px #03bcf4,
          0 0 20px #03bcf4,
          0 0 40px #03bcf4,
          0 0 80px #03bcf4,
          0 0 160px #03bcf4;
      }
  }

@media screen and (max-width: 750px) {
    .container-login{
        flex-direction: column;
    }


}
  