.main-container {
  margin: 20px 40px;
  color: white;
}

.heading {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 70px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 25px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-basis: 260px;
  /* padding: 20px; */
  margin: 30px;
}

.profile .profile-img {
  height: 280px;
  width: 240px;
  border: 2px solid white;
  border-radius: 50%;
  /* filter: grayscale(40%); */
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
  transition: 400ms;
}

.profile-name {
  margin-top: 30px;
  font-size: 27px;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.profile i {
  font-size: 40px;
  color: rgb(149, 124, 223);
  margin-left: 110px;
  margin-bottom: 70px;
}

.profile i:hover {
  color: palevioletred;
  transition: 400ms;
}

@media only screen and (max-width: 1100px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile i {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: rgb(231, 231, 231);
    text-align: center;
  }

  .profiles {
    margin: 20px 0;
  }
}
