*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
}

.bg{
    position: fixed;
    left: 0px; 
    top: 0px;
    z-index: -1;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
}

.avatar{
    height: 175px;
    width: 150px;
    border-radius: 50%;
}

.btn-card{
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    background-color: yellow;
    border-radius: 3px;
    width: 100%;
    margin: 2px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid yellow;
    margin: 3px;
}

.container{
    z-index: 10;
    text-align: center;
    margin: 15px;
    margin-top: 5%;
    height:auto;
    width: auto;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .cards{
        width: auto;
    }
}